---
// Separator component for section breaks
---

<div class="w-full flex items-center justify-center my-2">
  <div
    class="my-10 h-0.5 w-2/3 bg-gradient-to-r from-blue-200 via-blue-400 to-blue-200 rounded-full shadow"
    style="opacity:0.7"
  >
  </div>
</div>
